@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fafafa !important;
  /*text-rendering: optimizeLegibility !important;*/
  /*-webkit-font-smoothing: subpixel-antialiased !important;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important; }

tr, td {
  cursor: default !important; }

button {
  border-radius: 0 !important; }

#root {
  position: relative; }

textarea {
  resize: none;
  /* Запрещаем изменять размер */ }

#text_header_admin {
  font-size: 0.8em;
  color: red;
  margin-left: 10px; }

#bodyAdmin {
  display: inline-block;
  position: absolute; }

#bodyAdmin button {
  margin: 5px 5px; }

#headerUsersAdmin, #headerSTAdmin {
  height: 28px;
  background: #303a46; }

#headerUsersAdmin > button, #headerSTAdmin > button {
  float: right; }

#saveModal {
  float: right;
  margin: 30px 15px; }

#user_conform {
  padding-left: 0; }

#company_conform {
  padding: 0 0; }

#st_conform {
  padding-right: 0; }

#st_conform > input, #company_conform > input, #headerSTAdmin > div:nth-child(2) > select {
  cursor: default; }

#headerUsersAdmin > div.col-lg-9.col-md-12.col-sm-12 > textarea {
  color: #001dff; }

#headerUsersAdmin > div > span > span, #headerSTAdmin > div > span > span {
  padding-left: 5px;
  color: #f00; }

#headerSTAdmin > div > label {
  position: absolute;
  margin-left: 90px;
  z-index: 999;
  font-weight: 400; }

.headerApp {
  width: 100%;
  background: #303a46;
  border-bottom: 3px solid #455464; }

#logoText {
  letter-spacing: 0.03em;
  font-size: 17pt;
  font-weight: 300;
  margin-left: 20px;
  color: #fff;
  text-decoration: none; }

#globalSearch, #logout {
  display: inline-block;
  float: right; }

#globalSearchQuery, #globalSearch > button, #logout > button {
  height: 34px;
  padding: 6px 12px;
  border-width: 0px;
  font-size: 14px; }

#globalSearchQuery {
  transition-property: width;
  transition: 0.5s; }

#globalSearch > button {
  background: #337ab7; }

#logout {
  margin-left: 8%;
  margin-right: 0%; }

#logout > button {
  border-radius: 0px; }

#logout > button {
  background: #303a46; }

@media all and (min-width: 480px) {
  .Login {
    padding: 4% 0%; }
  .Login form {
    margin: 0 auto;
    max-width: 357px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(0, 0, 0, 0.1); }
  .Login span {
    font-size: 0.9em; }
  #root > div > div.Login > form > div:nth-child(1) {
    margin-bottom: 15px; }
  #logout > button > a {
    color: #fff;
    text-decoration: none; } }

.jumbotron {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(0, 0, 0, 0.1); }

.leftMenu {
  transition-property: width;
  transition: 1s;
  display: inline-block;
  height: 95.4vh;
  background: #303a46;
  position: relative;
  overflow-x: hidden; }

.hideLeftMenu {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 19px;
  text-align: center;
  cursor: pointer;
  background-color: #455464;
  border-radius: 5px; }
  .hideLeftMenu input {
    display: none; }

#root > div > div.leftMenu > div {
  background: #455464;
  margin-top: 2px; }

#root > div > div.leftMenu > div > ul > li {
  width: 100%; }

#root > div > div.leftMenu > div > ul > li > a {
  color: #fff;
  font-size: 14px; }

#root > div > div.leftMenu > div > ul > li > a:hover {
  color: #23527c; }

#root > div > div.leftMenu > div > ul > li > a:focus {
  background-color: #337ab7;
  color: #fff; }

.leftMenu button {
  width: 100%;
  text-align: left;
  border: none;
  background-color: #2b5a84;
  color: #fff; }

.leftMenu button:focus, .leftMenu button:active, .leftMenu button:hover {
  background-color: #2b5a84;
  border: none; }

.leftMenu li > a:hover {
  border-radius: 0; }

#root > div > div.leftMenu > div > ul > li > a:hover > i {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }

.modalBody:disabled {
  background: #ebebe4; }

body > div.ReactModalPortal > div > div > div.modalBody {
  font-size: 14px; }

.transport {
  display: inline; }

.gridTransp {
  margin-top: 5px;
  position: absolute;
  display: inline-block;
  cursor: pointer; }

.dropdown button {
  padding: 0 0;
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: 1px solid #c6cad3; }

.dropdown button:hover, .dropdown button:focus {
  background: #2780e3;
  color: #fff; }

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background: #2780e3 !important;
  color: #fff !important; }

#root > div > div.transport > div > div > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr > th:nth-child(6) > div > div > select,
#root > div > div.transport > div > div > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr > th:nth-child(7) > div > div > select {
  padding: 0 10px; }

#root > div > div.transport > div > div:nth-child(1) > div > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr input,
#root > div > div.transport > div > div:nth-child(1) > div > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr select {
  padding: 0 5px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ebebe4; }

#root > div > div.transport > div > div:nth-child(1) > div > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper {
  transition-property: height !important;
  transition: 0.1s !important; }

#exportEXCEL, #filterGrid {
  padding: 2px 10px;
  margin-left: 15px;
  margin-bottom: 10px; }

#root > div > div.transport > div > div:nth-child(1) > div > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-body > table > tbody .success {
  background: #dff0d8; }

body > div.ReactModalPortal > div > div {
  height: 90%; }

body > div:nth-child(5) > div > div {
  height: 600px;
  margin: 0 auto; }

.modalHead {
  height: 30px;
  margin-bottom: 4px;
  background: #455464; }

.modalHead > h4 {
  margin: 0 0;
  display: inline-block;
  color: #fff;
  padding: 4px 10px; }

#btn1 {
  padding: 0 0;
  float: right;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  background: #a4aab0; }

#btn1:hover {
  background: #2b5a84;
  color: #fff; }

#btn5, #btn2, #btn3, #btn4 {
  float: right;
  margin-right: 10px; }

#btn4 {
  background: #4cae4c;
  border-color: #4cae4c; }

#btn3 {
  background-color: #ec971f;
  border-color: #d58512; }

#btn7 {
  float: right;
  margin-right: 10px; }

#up, #down {
  margin-left: 5px;
  background: #fff;
  color: #000; }

#alertBlock {
  padding: 0;
  margin: 0;
  background: #ff0000; }

.alert-Warning {
  background: #fff160 !important;
  color: #000 !important; }

#alertBlock > center {
  font-weight: 400;
  color: #000; }

#orderBlock {
  padding: 0 0; }

#orderBlock > div > div.panel-heading {
  padding: 0; }

#infOrder > div {
  margin-bottom: 5px;
  padding: 0 5px; }

#orderBlock h4 {
  display: inline-block;
  margin: 5px 5px; }

#infOrder div span {
  display: block; }

#infOrder div input {
  height: 25px; }

#infOrder input, textarea {
  width: 100%;
  padding: 0px 5px;
  border-radius: 4px;
  border: 1px solid #ebebe4; }

#fullDescr {
  padding: 0 0; }

#fullDescr > div.panel-heading > h4 {
  display: inline-block !important;
  margin: 3px 15px; }

#fullDescr > div.panel-heading {
  padding: 0 0;
  height: 30px; }

#infOrder > div:nth-child(8) > span {
  width: 85%; }

body > div:nth-child(5) > div > div > div.modalHead > h4 > span {
  padding: 0 0; }

#infOrder > div:nth-child(9) > div > input:disabled {
  cursor: default;
  background: #ebebe4 !important;
  font-size: 14px; }

#infOrder > div:nth-child(8) > div > input {
  padding: 0px 5px;
  font-size: 14px; }

#infOrder > div:nth-child(8) > div > input:disabled {
  background: #ebebe4 !important; }

#orderBlock > div > div.panel-heading > span {
  float: right;
  padding: 0 0;
  padding: 5px 5px;
  cursor: pointer; }

#infOrder > div:nth-child(7),
#infOrder > div:nth-child(8) {
  margin-top: 0px; }

#tripBlock > div > div:nth-child(1),
#tripBlock > div > div:nth-child(2) {
  padding: 0 0; }

#infDrive {
  padding: 15px 15px; }

#infDrive > div {
  padding: 0 5px; }

#tripBlock h4 {
  display: inline-block;
  margin: 5px 5px; }

#tripBlock > div:nth-child(1) > div > div.panel-heading {
  padding: 0 0; }

#infDrive div span {
  display: block; }

#infDrive div input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #c6cad3;
  padding: 0 5px; }

#bg-nested-dropdown {
  padding: 0 5px;
  background: #ffefef;
  color: #000; }

#bg-nested-dropdown:hover {
  color: #000; }

#bg-nested-dropdown > span {
  display: inline-block !important; }

#infDrive > div {
  margin-bottom: 5px; }

#infDrive > div > div {
  width: 100%; }

#infDrive #bg-nested-dropdown {
  width: 100%;
  height: 30px; }

#dataTrip > div:nth-child(3) > input,
#dataTrip > div:nth-child(1) > input {
  text-align: center; }

#tripBlock > div:nth-child(1) > div:nth-child(2) {
  margin-top: 8px; }

#dataBlock {
  padding: 0 0; }

#dataTrip > div {
  padding: 0 5px; }

#dataTrip div span {
  display: block; }

#dataTrip > div input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #c6cad3; }

#dataTrip > div:nth-child(2) > input,
#dataTrip > div:nth-child(4) > input {
  width: 85%;
  text-align: right; }

#dataTrip > div:nth-child(2) > span:nth-child(3),
#dataTrip > div:nth-child(4) > span:nth-child(3) {
  display: inline-block;
  margin-left: 1px; }

#tripBlock {
  padding: 0 0; }

#tripBlock > div.panel.panel-default {
  padding: 0 0; }

#infStatus span {
  display: block; }

#infStatus > div:nth-child(2) > div,
#infStatus > div:nth-child(3) > div {
  width: 100%; }

#infStatus #bg-nested-dropdown {
  position: relative;
  width: 100%; }

#infStatus > div {
  padding-top: 15px; }

#infStatus > div:nth-child(2),
#infStatus > div:nth-child(3) {
  padding: 5px 0px 15px 15px; }

#infStatus > div > div {
  width: 100%; }

#infStatus #bg-nested-dropdown {
  width: 100%;
  height: 30px; }

#solution {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

#solution > div.panel-heading {
  padding: 0; }

body > div:nth-child(5) > div > div > div > div.panel-heading > h4 {
  display: inline-block;
  margin: 0;
  height: 30px; }

body > div:nth-child(5) > div > div > div {
  padding: 0;
  border: 0; }

body > div:nth-child(5) > div > div {
  padding: 0 !important; }

body > div:nth-child(5) > div > div > div > div.panel-heading {
  padding: 0; }

body > div:nth-child(5) > div > div > div > div.panel-heading > h4 {
  padding: 4px 15px; }

body > div:nth-child(7) > div > div {
  padding: 0 !important;
  border: 0 !important; }

.exploitation {
  display: inline; }

.gridExpl {
  margin-top: 5px;
  position: absolute;
  display: inline-block; }

.orderTransp {
  display: inline; }

.testView {
  margin-top: 5px;
  position: absolute;
  display: inline-block; }

.rdt {
  position: relative; }

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9; }

.rdtOpen .rdtPicker {
  display: block; }

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static; }

.rdtPicker .rdtTimeToggle {
  text-align: center; }

.rdtPicker table {
  width: 100%;
  margin: 0; }

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px; }

.rdtPicker td {
  cursor: pointer; }

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer; }

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999; }

.rdtPicker td.rdtToday {
  position: relative; }

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff; }

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker td span.rdtOld {
  color: #999999; }

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9; }

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none; }

.rdtPicker th.rdtSwitch {
  width: 100px; }

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top; }

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker thead tr:first-child th {
  cursor: pointer; }

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee; }

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9; }

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer; }

.rdtPicker button:hover {
  background-color: #eee; }

.rdtPicker thead button {
  width: 100%;
  height: 100%; }

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer; }

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee; }

.rdtCounters {
  display: inline-block; }

.rdtCounters > div {
  float: left; }

.rdtCounter {
  height: 100px; }

.rdtCounter {
  width: 40px; }

.rdtCounterSeparator {
  line-height: 100px; }

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtCounter .rdtBtn:hover {
  background: #eee; }

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em; }

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px; }

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px; }

#gridDrivers button, #gridCars button {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 6px 12px;
  border: 0;
  border-radius: 4px;
  border: 1px solid #c6cad3; }

div.btnModalDriver > span,
div.btnModalCar > span {
  color: #fff;
  display: inline-block;
  margin: 2px 15px; }

div.btnModalDriver > button,
div.btnModalCar > button {
  float: right;
  background: #455464;
  color: #fff;
  padding: 6px 7px; }

div.btnModalDriver > span,
div.btnModalCar > {
  color: #fff; }

#footerDriver > button,
#footerCar > button {
  float: right;
  margin-right: 15px;
  margin-top: 20px; }

body > div:nth-child(3) > div > div,
body > div:nth-child(4) > div > div {
  padding: 0 0 !important; }

div.btnModalDriver,
div.btnModalCar {
  background: #455464;
  height: 30px; }

.modalDriver, .modalCar {
  background-color: #f5f5f5;
  margin: 10px 0px; }

.modalDriver span, .modalCar span {
  display: block; }

.modalDriver input, .modalCar input, .modalDriver > select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px; }

.modalDriver > div {
  width: 100%; }

.modalDriver > select {
  width: 100%; }

.modalDriver > div > button, .modalCar .dropdown > button {
  width: 100%;
  padding: 6px 12px; }

.modalDriver > div > button > span, .modalCar .dropdown > button > span {
  display: inline-block; }

.modalDriver button, .modalCar .dropdown > button {
  text-align: left; }

.modalCar .dropdown {
  width: 100%; }

.modalDriver > span > span, .modalCar > span > span {
  display: inline;
  color: red; }

#btnDelDrivers, #btnDelCars {
  background-color: #ec971f;
  border-color: #d58512; }

#gridCars > div.react-bs-table-container.col-lg-12.col-md-12 > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr input,
#gridCars > div.react-bs-table-container.col-lg-12.col-md-12 > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr select,
#gridDrivers > div.react-bs-table-container.col-lg-12.col-md-12 > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr input {
  padding: 0 5px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ebebe4; }

#btnDelDrivers, #btnDelCars {
  margin-left: 5px !important; }

#gridDrivers > button:nth-child(2),
#gridCars > button:nth-child(2) {
  margin-left: 5px; }

.dropdown-menu {
  max-height: 150px;
  overflow-y: scroll; }

body > div:nth-child(8) > div > div {
  padding: 0 0 !important; }

.history {
  background: #455464;
  height: 30px; }

.history > h4 {
  margin: 0 0;
  display: inline-block;
  color: #fff;
  padding: 4px 10px; }

.history > button {
  padding: 0 0;
  background: #000;
  color: #fff;
  float: right;
  width: 30px;
  height: 30px; }

.dataHistory > div {
  padding: 0 0; }

.dataHistory > div > div {
  border-radius: 0 !important; }

.nameService {
  display: inline-block;
  vertical-align: top; }
