body > div:nth-child(8) > div > div{
    padding: 0 0 !important;
}
.history{
    background: #455464;
    height: 30px;
}
.history > h4{
    margin: 0 0;
    display: inline-block;
    color: #fff;
    padding: 4px 10px;
}
.history > button {
    padding: 0 0;
    background: #000;
    color: #fff;
    float: right;
    width: 30px;
    height: 30px;
}
// ширина столбцов
body > div:nth-child(8) > div > div > div:nth-child(2) > table > thead > tr > th:nth-child(1){
    width: 17%;
}
body > div:nth-child(8) > div > div > div:nth-child(2) > table > thead > tr > th:nth-child(5){
    width: 15%;
}
body > div:nth-child(8) > div > div > div:nth-child(2) > table > thead > tr > th:nth-child(2),
body > div:nth-child(8) > div > div > div:nth-child(2) > table > thead > tr > th:nth-child(3){
    width: 28%;
}
body > div:nth-child(9) > div > div > div:nth-child(2) > div,
body > div:nth-child(8) > div > div > div:nth-child(2) > div > div.react-bs-table.react-bs-table-bordered{
    border-radius: 0 !important;
}
body > div:nth-child(8) > div > div > div:nth-child(2) > div,
body > div:nth-child(9) > div > div{
    padding: 0 0 !important;
}